body {
  font-family: 'Inter', sans-serif;


}

a{
  text-decoration: none;

}
.nav-item:hover{
  border-bottom: 2px solid red;
}
.card-img-top{
  width: 150px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 2px 4px 0 gray;
  

}

#mydetailes{
  cursor: pointer;
  width: 500px;
 display: block;
 margin: auto;

 
}





@media (max-width:500px) {
  #mydetailes{
    width: 18rem;
    
  
  }
  #mydetailes a{
    margin-bottom: 140px;
    
  
  }

  
  
  
}