body {
  font-family: 'Inter', sans-serif;


}

a{
  text-decoration: none;

}
.nav-item:hover{
  border-bottom: 2px solid red;
}
@media (min-width: 100px){
.navbar-expand-lg .navbar-collapsed {
    display: flex!important;
    flex-basis: auto;
}
}
.card-img-top{
  width: 150px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 2px 4px 0 gray;
  

}

#mydetailes{
  cursor: pointer;
  width: 500px;
 display: block;
 margin: auto;

 
}
.myimg img{
  width: 80px;
  height: 100px;
}

.contant{
  margin-left: 80px;
}

.alertpage{
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}
@media (max-width:790px) {
  .contant h4{
    font-size: 15px;
    
  }
  
  .contant button {
    font-size: 8px;
    
    
  }
}








@media (max-width:500px) {
  #mydetailes{
    width: 18rem;
    
  
  }
  #mydetailes a{
    margin-bottom: 20px;
    
  
  }

  
  
  
}